@import '../../styles/base';
$formFontSize: 1.5rem;

.appframe {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1.appframe__title {
  color: white;
  text-transform: uppercase;
  font-size: $formFontSize;
  font-weight: bold;
  margin: 0;
  padding: 1.5rem;
  text-align: center;
  background-color: $teal;
  flex-grow: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0
}

section.appframe__map {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
  -webkit-box-shadow: inset 0px 10px $mapBlur -8px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0px 10px $mapBlur -8px rgba(0, 0, 0, 0.33);
  box-shadow: inset 0px 10px $mapBlur -8px rgba(0, 0, 0, 0.33);
  background-position: top left;
  background-repeat: no-repeat;
  position: relative;
}

nav.appframe__nav {
  flex-grow: 0;
  flex-basis: 60px;
  margin: 0;
  padding: 0.25rem;
  height: 60px;
  border-top: 1px solid $teal;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.you {
  position :absolute;
  left: 50%;
  top: 50%;
}
