/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

$teal: rgb(82, 194, 209);
$darkgray: rgb(102, 102, 102);
$formLine: rgb(204,204, 204);
$magenta: rgb(173, 0, 75);
$mapBlur: 10px;
